@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
    )
}
.bg-gradient {
  background: linear-gradient(
      35deg,
      rgba(35, 113, 142, 0.555) 0%,
      rgba(39, 135, 159, 0.589) 5%,
      rgba(56, 80, 198, 0.804) 100%
    ),
    radial-gradient(circle, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 58%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
